<header id="header" class="navbar navbar-fixed-top bg-white-only padder-v"  data-spy="affix" data-offset-top="1">
  <div class="container">
    <div class="navbar-header">
      <button class="btn btn-link visible-xs pull-right m-r" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <br>
      <a  href="/"><%= image_tag('logo.png', height: '80%', width: '80%')%></a>
    </div>
    <div class="collapse navbar-collapse">

      <div class="nav navbar-nav navbar-right">
          <div class="m-t-sm">
            <%= button_to 'Login', '/login', method: :get, class: 'btn m-b-xs w-xs btn-danger pull-right', form: {style: 'display:inline-block;'} %>
            <%= button_to 'Signup', '/signup', method: :get, class: 'btn m-b-xs w-xs btn-danger pull-right', form: {style: 'display:inline-block;'} %>
          </div>
      </div>
    </div>
  </div>
</header>
<br>
<br>
<br>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr>
          <h2>Manage Opportunities</h2>
      </br>
      <div class="col-md-12 text-danger">
        <%=flash[:error] %>
        <br>
      </div>
       </br>

        <%= form_tag '/login' do %>
        <div class = "form-group">
        <%= text_field_tag :email, "", class: "form-control", placeholder: "Email"  %>
        </div>
        <div class = "form-group">
        <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
        </div>

        <div class = "form-group">
          <hr>
        <%= submit_tag "Submit", class: "btn btn-danger"%>
        </div>
        <% end %>
    </div>
  </div>
</div>
