<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body app-content-full">

  <div class="hbox hbox-auto-xs bg-light ">

  <div class="col" id="email">
    <div class="vbox">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active wrapper b-b b-light"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">
      Tasks</a>
    </li>
      <li role="presentation" class="wrapper b-b b-light"><a href="#email" aria-controls="home" role="tab" data-toggle="tab">
        Emails</a>
      </li>
  </ul>

<!--
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="email"><a href="#email" aria-controls="home" role="tab" data-toggle="tab">
      Emails</a></div>
    <div role="tabpanel" class="tab-pane" id="task"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">
      Tasks</a></div>
  </div> -->

  <div id="task">

  <!-- tasks -->
    <div class="panel wrapper">
      <div class="row">
        <div class="col-md-8 b-r b-light no-border-xs">
          <a href class="text-muted pull-right text-lg"></a>
          <h4 class="font-thin m-t-none m-b-md text-muted">My Tasks</h4>
            <%= button_to "Add a New Task", {:controller => 'contacts', :action => 'index', :id => current_user.id }, method: :get %><br>
          <%  @events.each do |task| %>
          <div class="m-b">
            <div class="m-b">
              <span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-warning"></i><%= task.end %></span>
              <%= link_to task.summary, usercontact_path(id: task.id) %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="row row-sm">
            <div class="col-xs-6 text-center">
              <div ui-jq="easyPieChart" ui-options="{
                  percent: 75,
                  lineWidth: 4,
                  trackColor: '#e8eff0',
                  barColor: '#7266ba',
                  scaleColor: false,
                  size: 115,
                  rotate: 90,
                  lineCap: 'butt'
                }" class="inline m-t">
                <div>
                  <span class="text-primary h4">75%</span>
                </div>
              </div>
              <div class="text-muted font-bold text-xs m-t m-b">Work Done</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / tasks -->
  </div>

      <div id="email">
          <% @show_messages.each do |message|%>
          <div class="panel">
        <div class="wrapper-lg">
        From: <%= message[:from] %><br>
        Subject: <%= message[:subject] %><br>
        Message: <%= message[:body] %><hr>
        </div>
        </div>
        <%end %>
      </div>



  </div>
  </div>

  <div class="col w-md lter b-l">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <div class="col-md-12">
                <div class="panel wrapper">
                  <h4 class="font-thin m-t-none m-b text-muted">My Metrics</h4>
                  <div ui-jq="plot" ui-refresh="showSpline" ui-options="
                    [
                      { data: [ [0,7],[1,6.5],[2,12.5],[3,7],[4,9],[5,6],[6,11],[7,6.5],[8,8],[9,7] ], label:'TV', points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 } },
                      { data: [ [0,4],[1,4.5],[2,7],[3,4.5],[4,3],[5,3.5],[6,6],[7,3],[8,4],[9,3] ], label:'Mag', points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 } }
                    ],
                    {
                      colors: ['#23b7e5', '#7266ba'],
                      series: { shadowSize: 3 },
                      xaxis:{ font: { color: '#a1a7ac' } },
                      yaxis:{ font: { color: '#a1a7ac' }, max:20 },
                      grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
                      tooltip: true,
                      tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
                    }
                  " style="height:246px" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
