<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">I'm dashboard.html.erb</h1>
    </div>

    <div class="wrapper-md">
      <h3 class="font-thin m-t-xs">My Emails</h3>
    </div>

    <%= button_to "Refresh My Emails", action: "email" %>

    <div>
      <% @show_messages.each do |message|%>
      <div class="panel">
        <div class="wrapper-lg">
        From: <%= message[:from] %><br>
        Subject: <%= message[:subject] %><br>
        Message: <%= message[:body] %><hr>
      </div>
    </div>
      <%end %>
    </div>

    <div class="wrapper-md">
      <h3 class="font-thin m-t-xs">My Tasks this Week</h3>
    </div>

  </div>
</div>
<%= render partial: '/partials/footer' %>
