<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body app-content-full">

  <div class="hbox hbox-auto-xs bg-light ">

  <div class="col" id="email">
    <div class="vbox">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active wrapper b-b b-light"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">
      Tasks</a>
    </li>
      <li role="presentation" class="wrapper b-b b-light"><a href="#email" aria-controls="home" role="tab" data-toggle="tab">
        Emails</a>
      </li>
  </ul>

<!--
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="email"><a href="#email" aria-controls="home" role="tab" data-toggle="tab">
      Emails</a></div>
    <div role="tabpanel" class="tab-pane" id="task"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">
      Tasks</a></div>
  </div> -->

  <div id="task">
    <%= button_to "Add a New Task", {:controller => 'contacts', :action => 'index', :id => current_user.id }, method: :get %>
  <%  @events.each do |task| %>
  <div class="panel">
    <div class="wrapper-lg">
      <%= task.summary %><br>
      <%= task.start %><br>
      <%= task.end %><br>
      <%= task.location %><br>
      <%= task.description %><br>
    </div>
  </div>
  <% end %>
  </div>

      <div id="email">
          <% @show_messages.each do |message|%>
          <div class="panel">
        <div class="wrapper-lg">
        From: <%= message[:from] %><br>
        Subject: <%= message[:subject] %><br>
        Message: <%= message[:body] %><hr>
        </div>
        </div>
        <%end %>
      </div>



  </div>
  </div>

  <div class="col w-md lter b-l">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <h4>saving this space for my data charts. TODO: adding tabs for email/task</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
