<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body app-content-full">

  <div class="hbox hbox-auto-xs bg-light ">

  <div class="col" id="email">
    <div class="vbox">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active wrapper b-b b-light"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">
      Tasks</a>
    </li>
      <li role="presentation" class="wrapper b-b b-light"><a href="#email" aria-controls="home" role="tab" data-toggle="tab">
        Emails</a>
      </li>
  </ul>

<!--
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="email"><a href="#email" aria-controls="home" role="tab" data-toggle="tab">
      Emails</a></div>
    <div role="tabpanel" class="tab-pane" id="task"><a href="#task" aria-controls="home" role="tab" data-toggle="tab">
      Tasks</a></div>
  </div> -->

  <div id="task">

  <!-- tasks -->
    <div class="panel wrapper">
      <div class="row">
        <div class="col-md-8 b-r b-light no-border-xs">
          <a href class="text-muted pull-right text-lg"></a>
          <h4 class="font-thin m-t-none m-b-md text-muted">My Tasks</h4>
            <%= button_to "Add a New Task", {:controller => 'contacts', :action => 'index', :id => current_user.id }, method: :get %><br>
          <%  @events.each do |task| %>
          <div class="m-b">
            <div class="m-b">
              <span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-warning"></i><%= task.end %></span>
              <%= link_to task.summary, usercontact_path(id: task.id) %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="row row-sm">
            <div class="col-xs-6 text-center">
              <div ui-jq="easyPieChart" ui-options="{
                  percent: 75,
                  lineWidth: 4,
                  trackColor: '#e8eff0',
                  barColor: '#7266ba',
                  scaleColor: false,
                  size: 115,
                  rotate: 90,
                  lineCap: 'butt'
                }" class="inline m-t">
                <div>
                  <span class="text-primary h4">75%</span>
                </div>
              </div>
              <div class="text-muted font-bold text-xs m-t m-b">Work Done</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / tasks -->
  </div>

      <div id="email">
          <% @show_messages.each do |message|%>
          <div class="panel">
        <div class="wrapper-lg">
        From: <%= message[:from] %><br>
        Subject: <%= message[:subject] %><br>
        Message: <%= message[:body] %><hr>
        </div>
        </div>
        <%end %>
      </div>



  </div>
  </div>

  <div class="col w-md lter b-l">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <h4>saving this space for my data charts. TODO: adding tabs for email/task</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
