<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body app-content-full">

  <div class="hbox hbox-auto-xs bg-light ">

  <div class="col">
    <div class="vbox">
      <div class="wrapper b-b b-light">
        <div class="font-thin h4">Emails</div>
      </div>

      <div>
          <% @show_messages.each do |message|%>
          <div class="panel">
        <div class="wrapper-lg">
        From: <%= message[:from] %><br>
        Subject: <%= message[:subject] %><br>
        Message: <%= message[:body] %><hr>
        </div>
        </div>
        <%end %>
      </div>


    <div class="wrapper b-b b-light">
      <div class="font-thin h4 m-t-xs">Tasks</div>
    </div>

    <%= button_to "Add a New Task", action: "new_event", method: :get %>

      <div>
    <%  @events.each do |item| %>
    <div class="panel">
      <div class="wrapper-lg">
      <%  @summary = item['summary'] %>
      <%  @start = item['start'].to_s[26..-2] %>
      <%  @end_date = item['end'].to_s[26..-2] %>
      <%  @location = item['location'].to_s[42..-3] %>
      <%= @summary %>
      <br>
      <%= @start %>
      <br>
      <%= @end_date %>
      <br>
      <%= @location %>
    </div>
  </div>
    <%  end %>
    </div>
  </div>
  </div>

  <div class="col w-md lter b-l">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <h4>saving this space for my data charts. TODO: adding tabs for email/task</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
