<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>
<h3>Select a contact to associate with this Task</h3>

<%= form_tag(contacts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Find or create a contact", type: "search", data: {autocomplete: contacts_autocomplete_contact_name_path} %>
<%= submit_tag "Search" %>
<%end%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%=link_to contact.first_name, contact_path({id: params[:id], contact_id: contact.id})%></td>
      </tr>
    <% end %>
  </tbody>
</table>
