<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>
<h1>followup with <%= @contact.first_name%></h1>

<%= form_for @task, url: user_add_tasks_path do |f| %>
  <%= f.hidden_field :summary, :value => "Follow up with " + @contact.first_name %>
  Location: <%= f.text_field :location %>
  Start: <%= f.date_field :start %><br>
  End: <%= f.date_field :end %>
  Description: <%= f.text_field :description %>
  <%= submit_tag "Submit", :name => "add_task"%>
<% end %>

<% form_tag @new_event do%>
  <%= submit_tag "Submit", :name => "add_task" %>
<%end%>
