<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>
<div class="text-danger">
  <%=flash[:error] %>
</div>
Enter a company to associate with this Opportunity
<hr>

<%= form_tag(companies_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Find or create a company", type: "search", data: {autocomplete: companies_autocomplete_company_name_path} %>
<%= submit_tag "Search" %>
<%end%>

<!-- <script type="text/javascript" charset="utf-8">
  $( "#search" ).autocomplete({
      source: <% @companies %>
    });
  } );
</script> -->

<!--
<div class="companies-search">
  <input type="text" id="companies-search-txt" autofocus>
  <div class="results" id="companies-search-results">
  </div>
</div> -->

<!-- <script>
  $(function() {
    new app.Companies;
  });
</script> -->

<!-- <%= content_for :script do %>
  new app.Companies;
<% end %> -->

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.first(10).each do |company| %>
      <tr>
        <td><%=link_to company.name, company_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Did not find the company you are looking for? Add company below<h3><br>

  <%= form_for @companies.new, url: new_company_path do |f| %>
    Name: <%= f.text_field :name %>
    Website: <%= f.text_field :name %>
    <%= f.submit "Submit" %>
  <% end %>
