
<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>
<h1> this is companies/show</h1>
<h2> i'm showing <%=@company.name%></h2>
<h3> this is the basic info about this company: </h3>
Name: <%=@company.name %>
<br>
Website: <%= link_to @company.website %>
<br>
Size: <%= @company.size %>
<br>
<%=button_to "Yes, I'm interested in this company. Add opportunity.", company_opportunities_path, method: :get, class: "btn btn-info btn-sm", form: {style: 'display:inline-block;'}%>
</div>
