
<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <div class="bg-light lter b-b wrapper-md">
        <%=button_to "Add Opportunity", companies_path, method: :get, class: "btn btn-info btn-sm", form: {style: 'display:inline-block;'}%>
    </div>

    <!-- content -->
    <div class="wrapper-md">
    <div class="panel panel-default">
<table id="opportunities">
  <thead>
  <tr>
    <th  style="width:20%">Company</th>
    <th  style="width:20%">Position</th>
    <th  style="width:20%">Website</th>
    <th  style="width:15%">Status</th>
    <th  style="width:12%">Priority</th>
    <th  style="width:13%">Inactive Days</th>
  </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opportunity| %>
    <tr>
      <td><%=link_to opportunity.opening.company.name, company_path(opportunity.opening.company)%></td>
      <td><%=link_to opportunity.opening.name, opportunity_path(company_id: opportunity.opening.company.id, id: opportunity.id)%></td>
      <td><%=link_to opportunity.opening.company.website, "https://www."+opportunity.opening.company.website, :target => "_blank" %></td>
      <td><%=opportunity.status%></td>
      <td><%=opportunity.priority%></td>
      <td><%=(Time.now.to_i-opportunity.updated_at.to_i)/(60*60*24)%></td>
    </tr>
    <%end%>
    </tbody>
  </table>

    </div>
  </div>

    <!-- /content -->

  </div>
</div>
<%= render partial: '/partials/footer' %>
