<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<h2> i'm showing <%=@opportunity.opening.company.name %> </h2>
  <p>you have <%=@current_user_contacts.count %> contacts in this company</p>
  <% if @current_user_contacts.count == 0 %>
    You don't have any contacts at this company.
    <% else %>
  <% @current_user_contacts.each do |contact| %>
    First Name:<%= contact.contact.first_name %>
    <br>
    Last Name: <%= contact.contact.last_name %>
    <br>
    Company Domain: <%= @opportunity.opening.company.website %>


  <h3>We found the following email: <%=link_to @email, email_editor_path %></h3>
  <h3>We are <%= @score %> % confident this email exists</h3>

    <%= button_to "Get Email", action: "find_email" %>
  <%end%>
  <% end%>

<br>
#delete opportunity<br>
  <%= link_to "I'm no longer interested", opportunity_path, method: :delete, data: {confirm: 'Are you sure you want to delete me?'} %>

<br>
#add contacts
<%= form_for @contact, url: company_add_contacts_path(id: @opportunity.opening.company.id) do |f| %>
  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  <%= f.submit "Submit" %>
<% end %>
<%= render partial: '/partials/footer' %>
