<%= render partial: '/partials/header' %>
<%= render partial: '/partials/side' %>

<div id="content" class="app-content" role="main">
  <div class="app-content-body">

<div class="bg-light lter b-b wrapper-md">
  <%= button_to "I'm no longer interested", opportunity_path, method: :delete, data: {confirm: 'Are you sure you want to delete me?'}, class: "btn btn-danger pull-right" %>
  <h1 class="m-n font-thin h3"><%= @opportunity.opening.name %> at <%=@opportunity.opening.company.name %></h1> <%= (Time.now.to_i-@opportunity.updated_at.to_i)/(60*60*24) %> days inactive
</div>
<br>
<br>

<div class="container text-center">
  <div class="row">

    <% if @current_user_contacts.count != 0 %>
    <div class="col-sm-6 connected">
      <div class="panel panel-success">
        <div class="panel-heading">
          You have <%=@current_user_contacts.count %> contacts at <%=@opportunity.opening.company.name %>
        </div>
        <ul class="list-group alt">
        <% @current_user_contacts.each do |contact| %>
          <li class="list-group-item">
            <div class="media">
              <span class="avatar thumb pull-left m-r"> <%= image_tag('a0.jpg')%></span>
              <div class="pull-right text-success m-t-sm">
                <i class="fa fa-circle"></i>
              </div>
              <div class="media-body">
                <div><%= contact.contact.first_name %> <%= contact.contact.last_name %></div>
                <small class="text-muted"><%= link_to contact.contact.email, email_editor_path(company_id: params[:company_id], id: params[:id]) %></small>
              </div>
            </div>
          </li>
          <%end%>
        </ul>
        <div class= "pull-right">
          <br>
          <%= button_to "Update Email", class: "btn btn-primary", action: "find_email" %>
        </div>
      </div>
    </div>
  <% end%>

  <div class="col-md-5">
    <h4>Making progress? Keep track of your work here:</h4>
    <br>
    <%= form_for @opportunity, url: opportunity_update_path(company_id: @opportunity.opening.company.id, id: @opportunity.id) do |f| %>
    My current stage: <%= f.select :status, ['New', 'Networking', 'Application', 'Technical Interview', 'Behavioral Interview', 'Offer!', 'Negotiation', 'Accepted Offer']%>
    <br>
    <br>
    My preference: <%= f.select :priority, ["1", "2", "3", "4", "5"] %>
    <br>
    <br>
    <%= f.submit "Update", class: "btn btn-success" %>
    <% end %>
  </div>

</div>
</div>

    <div class="container text-center">
        <div class="row">
          <div class="col-md-6">
              <hr>
              <br>
              <h4>Add New Contacts and Start Networking!</h4>
            </br>
            <div class="col-md-12 text-danger">
              <%=flash[:error] %>
            </div>
              <%= form_for @contact, url: company_add_contacts_path(company_id: @opportunity.opening.company.id, id: @opportunity.id) do |f| %>
              <div class = "form-group">
              <%= f.text_field :first_name, class: "form-control", placeholder: "First Name"%>
              </div>
              <div class = "form-group">
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
              </div>
              <div class = "form-group">
                <hr>
                <%= submit_tag "Submit", :name => "save", class: "btn btn-info"%>
              </div>
              <% end %>
          </div>
        </div>
      </div>

      </div>
    </div>

<%= render partial: '/partials/footer' %>
